body {
  height: 100vh;
  overflow-x: hidden;
}

.login {
  transform: translateY(2vh);
  margin: 0 10px;
}

.formm {
  padding: 30px 30px;
}

.login-img {
  width: 15%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 3px
}

.login-box button:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box button.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box button.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 576px) {
  .login-box {
    width: 350px;
  }
}

/* 
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1208%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(41%2c 123%2c 207%2c 1)'%3e%3c/rect%3e%3cpath d='M812.5565788624424 501.66086473986593L768.0626294198377 446.71541309017897 707.8914266666096 540.9290630789296z' fill='rgba(90%2c 170%2c 255%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M739.76 421.52 a102.26 102.26 0 1 0 204.52 0 a102.26 102.26 0 1 0 -204.52 0z' fill='rgba(90%2c 170%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-23.83 543.3 a93.89 93.89 0 1 0 187.78 0 a93.89 93.89 0 1 0 -187.78 0z' fill='rgba(90%2c 170%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1291.68 503.99 a104.06 104.06 0 1 0 208.12 0 a104.06 104.06 0 1 0 -208.12 0z' fill='rgba(90%2c 170%2c 255%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M284.352%2c394.17C325.583%2c394.264%2c363.626%2c371.038%2c383.327%2c334.818C402.22%2c300.084%2c396.3%2c258.696%2c376.727%2c224.341C356.927%2c189.589%2c324.349%2c161.07%2c284.352%2c161.095C244.391%2c161.12%2c211.877%2c189.689%2c192.174%2c224.455C172.783%2c258.67%2c167.381%2c299.81%2c186.151%2c334.37C205.756%2c370.466%2c243.275%2c394.077%2c284.352%2c394.17' fill='rgba(90%2c 170%2c 255%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M998.3993818873987 96.83809970126991L949.1087513265642-8.865998652719597 843.4046529725747 40.424631908114904 892.6952835334092 146.1287302621044z' fill='rgba(90%2c 170%2c 255%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1208'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
} */