body {
  overflow-x: hidden;
}

.text-blue {
  color: #0090D4 !important;
}

.bg-blue {
  background-color: #0090D4 !important;
}

nav {
  transition: .3s;
  z-index: 999;
}

.foto {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.notif {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
}

.hero-img {
  margin-top: -40px;
  width: 100vw;
  z-index: -99;
  overflow: hidden;
  height: calc(30rem + ((1vw - 7.68px) * 0.6944));
}

.hero-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  font-size: calc();
}

.navbar-brand img {
  width: 150px;
}

.kotak {
  box-sizing: border-box;
  max-width: 700px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
}

h2 {
  font-size: calc(2rem + ((1vw - 7.68px) * 0.6944));
}

p {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
}

.animasi1 {
  width: calc(20rem + ((1vw - 7.68px) * 0.6944));
}

.kotak-profil {
  padding: 30px;
  overflow: hidden !important;
}

.foto-profil {
  max-width: calc(40px + 8vw);
  max-height: calc(40px + 8vw);
  overflow: hidden;
  z-index: 90;
}

.foto-profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-foto {
  /* flex-direction: row; */
  align-items: center;
}

.header-nama {
  margin-left: 20px;
  z-index: 70;
}

.report .row .col-1 img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.read-more {
  display: block;
  margin-top: -10px;
}

.foto-laporan {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.foto-laporan img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cursor {
  cursor: pointer;
}

/* mobile */
@media screen and (min-width: 576px) {}

/* tablet */
@media screen and (min-width: 768px) {
  
}

/* laptop */
@media screen and (min-width: 992px) {
  .navbar-nav {
    align-items: center;
  }

  .bg-animasi {
    display: block;
    width: 50px;
    height: 50px;
  }

  .header-foto {
    flex-direction: column;
  }

  .foto-profil img {
    width: 100%;
    height: 100%;
  }



}



/* animasi */
.bg-animasi {
  width: 20px;
  height: 20px;
  border: 3px solid white;
  z-index: 9;
  /* display: none; */
}

.bg-animasi:nth-child(1) {
  top: 70%;
  left: 10%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(2) {
  top: 80%;
  right: 10%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(3) {
  top: 60%;
  left: 30%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(4) {
  top: 90%;
  right: 30%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(5) {
  top: 70%;
  left: 50%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(6) {
  top: 10%;
  left: 10%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(7) {
  top: 20%;
  right: 10%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(8) {
  top: 30%;
  left: 30%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(9) {
  top: 40%;
  right: 30%;
  animation: animasibg 5s linear infinite;
}

.bg-animasi:nth-child(10) {
  top: 50%;
  left: 50%;
  animation: animasibg 5s linear infinite;
}

@keyframes animasibg {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }

}